
<section style="margin-top: -21px;" class="row page_header">
  <div class="container">
    <h3>my bookmarks</h3>
    <ol class="breadcrumb">
      <li><%= link_to 'home', pages_index_path %> </li>
      <li class="active">my bookmarks</li>
    </ol>
  </div>
</section>

<div class="container">
<br><br>
<p><%= link_to("Add Bookmark", new_bookmark_path, class: 'btn btn-primary btn-xs')  %> </p>
<br>
<br>

<% if @bookmarks.empty? %>
   <p> <%= "Looks like you don't have any bookmarks. Click the 'Add Bookmark' button above to get started." %> </p>
    <% else %>
    <% end %>


<table class="table">
  <tr>
    <th>Bookmarks</th>
  <th>Notes</th>
  <th></th>
    </tr>
      <%	 @bookmarks.each do |bookmark| %>
      <tr>
        <td> <%= link_to("#{bookmark.description}", bookmark.url) %> </td>
        <td> <%= bookmark.notes %></td>
        <td align="right"> <%= link_to("Edit", edit_bookmark_path(bookmark), class: 'btn btn-primary btn-xs') %>
          <%= link_to "Delete", delete_bookmark_path(bookmark), class: 'btn btn-danger btn-xs'  %>   </td>
      </tr>
      <% end %>
</table>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>