<section style="margin-top: -21px;" class="row page_header">
  <div class="container">
    <h3>ga bookmarks</h3>
    <ol class="breadcrumb">
      <li><%= link_to 'home', pages_index_path %> </li>
      <li class="active">Resend confirmation instructions</li>
    </ol>
  </div>
</section>
<br>
<div class="container">
<h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Resend confirmation instructions", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
<br>
</div>