<!DOCTYPE html>
<html>
<head>
  <title>Bookmarks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/umd/collapse.js' => true %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
<!--Begin navigation-->
  <%= render 'layouts/navigation' %>

<!--Renders flash notice messages-->
  <% flash.each do |key, value| %>

      <div style="margin-left: auto; margin-right: auto; margin-bottom: 20px;" class="container alert alert-notification <%= key %> ">
        <p><%= value %></p>
      </div>
    <div style="margin-bottom: -10px;" class="container alert"></div>
  <% end %>
  <!--Begin content-->
  <%= yield %>

  <!--Begin footer-->
  <%= render 'layouts/footer' %>

</body>
</html>
