<!DOCTYPE html>
<html>
<head>
  <title>Bookmarks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/umd/collapse.js' => true %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body class="home">

  <%= render 'layouts/navigation' %>

  <% flash.each do |key, value| %>
      <div style="padding-bottom: 20px;"  class=" container alert alert-info" <%= key %>">
        <%= value %>
      </div>
  <% end %>

  <%= yield :top_content %>

  <div class="container">
    <h1><%= yield :header %></h1>

  </div>
  <%= yield %>

  <%= render 'layouts/footer' %>

</body>
</html>
